{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> 
    
    {% if title %}
    <title>Jijenge - {{title}}</title>
    {% else %}
    <title> Jijenge </title>
    {% endif %}
    
    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}


</head>


<body>
    
    {% include "navbar.html" %}
    {% block content %}
   
    {% block scripts %}
    

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        {% bootstrap_javascript %}
        {% endblock %}
    {% endblock %} 
</body>
</html>