{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="background"></div>
<div class="centered">
    <p><strong>Welcome to My Portfolio!!  </strong> </p>
    <br>
    <a href="www.github.com/lupamo3">
        <button class="btn success">View My Projects On Github</button></a>
   
    </div>
    {% include "navbar.html" %}

    <div class="container-fluid">
        <div class="about">
            <br> <br>
            <h1 class="text-center">About Me </h1>
            <br> <br>
        <div class="row">
            <div class="col-md-4 col-xs-4 ">
        <div class="avatar">
            <img src="https://lh3.googleusercontent.com/WmBhsYjzOd5e6KW7_C2GI5pM1PPiBWHOY_Q8r2Cd_kU1QgXUhwUf8fVwLAHFinUlxl6UT7zp4WtPPYe0ixq4ZG0m1akt0tlYD-qbOQV84tAf8QmkXzoDv-KkXJPO3DebRrr5GT396hKW4GwRW2KyylXDXsp2C8se48zDn3aCn2w0AIWGzPxO5ocNPi44IhrVxl5xKp0RvRgEqU_wQldMX36j7r9XQTswrJb9m2bw9BIm9PjksHsVg3LIX__ngJ6zxx4qe6sg8Rp9kFlPmBvHwWDO6gNUyWPogtTSV87LR0fcLbRtzGp9iIHoyypPGrJkuu8E5GcmohnsofmdfyWna5NOkLg5ZVWOqgnklTYniWXugS7h8wqt19JJ-wW_YAdf7yVWrGFnL-FiZWJVz8HBAz63-irtB9Gf88PwFpDMrNv8myNPjPdNVvpH_xWZffGOpWFJ180ozmENItPJxxgAHXmJfLdGOEgO_TuAFTS1Ixm-ONBRXByb-c-lilL2oximjQyKSkz17jTBgULOyuC3cVyF1do_xWxBlrxMywdtKuvp6KocX0EkmFPQAXDkgu4Ceh7X6BUmyueCCNSNuNqMpi5B9WqfPjIBCg=w507-h675-no" alt="profileimage" class="avatar">
        </div>

        
    </div>
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-5 col-xs-5">
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
           specimen book. It has survived not only five centuries, but also the leap into electronic 
           typesetting, remaining essentially unchanged
        </p>
    </div>
    <div class="col-md-1 col-xs-1"></div>
    </div>
</div>



<div class="resume">
        <h4 class="text-center"> Skills</h4>

        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>HTML</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills html">90%</div>
</div>
 </div>
</div>
<br>
 

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>CSS</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills css">80%</div>
 </div>
</div>
</div>
<br>


<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Java Script</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills js">65%</div>
 </div>
 </div>
 </div>
 <br>

 
 <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Django</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills php">60%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Bootstrap</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills python">60%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Python</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills flask">70%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Flask</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills Bootstrap">80%</div>
 </div>
</div>
</div>
<br>
    

   <div class="projects">
        <br> <br>
        <br> <br>
        
       <h4 class="text-center"> <strong> Projects </strong></h4>
       <br> <br>
       <br> <br>
       

       <div class="row">
            <div class="columns">
                    <img src="https://images.unsplash.com/photo-1494688290324-e296afa7dc45?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e480114ca9fb0f61476d79587ea773c&auto=format&fit=crop&w=750&q=80" alt="Instagram" style="width:100%">
                
                  </div>



                  <div class="columns">
                    <img src="https://images.unsplash.com/photo-1515169974372-0a322886d279?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17ff92f2cf485284a7b604020c146b29&auto=format&fit=crop&w=1376&q=80" alt="Gallery" style="width:100%">
                
                  </div>
                  <div class="columns">
                    <img src="https://images.unsplash.com/photo-1518186233392-c232efbf2373?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=23ff577c1374ba87e8361b6ceee0cac3&auto=format&fit=crop&w=667&q=80" alt="Kenya" style="width:100%">
                
        </div>
       </div>
   </div>
   <br><br>

   <div class="contact">
       <h4 class="text-center"> Contact Me </h4>
       <br>
       <p> Have a question or want to work together?</p>
       
   </div>


    </div>
{% endblock %}