{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="background"></div>
<div class="centered">
    <p><font size="6">My Name Is: <strong> Norbert Lupamo Anjichi </font></strong> </p>
    <br>
    <a href="www.github.com/lupamo3">
        <button class="btn success">View My Projects On Github</button></a>
   
    </div>
    {% include "navbar.html" %}

    <div class="container-fluid">
        <div class="about">
            <br> <br>
            <h1 class="text-center"><font size="6">About </font></h1>
           
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="avatar">
            <img src="https://scontent.ffjr1-2.fna.fbcdn.net/v/t1.0-9/10926398_1041672905849720_510848690783834163_n.jpg?_nc_fx=ffjr1-3&_nc_cat=0&_nc_eui2=AeEWftpqYd0qtPcQWzvcYp0aNieZIBB7OA83JwpXJbTQQY05M09o9tv_zIkzqygwmJEo71G6CSiKlBveGFDwW7h5xckUloATov7kcseiCj36KA&oh=b5b398b0d4d6471bbd772ffea2dcb7ba&oe=5BF6D6AF" alt="profileimage" class="avatar">
        </div>

        
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 desc">
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p> I'm a software developer </p>
        <br>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
           specimen book. It has survived not only five centuries, but also the leap into electronic 
           typesetting, remaining essentially unchanged
        </p>
    </div>
    <div class="col-md-1 col-xs-1"></div>
    </div>
</div>



<div class="resume">
        <h4 class="text-center"><font size="9"> Skills </font></h4>

        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>HTML</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills html">90%</div>
</div>
 </div>
</div>
<br>
 

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>CSS</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills css">80%</div>
 </div>
</div>
</div>
<br>


<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Java Script</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills js">65%</div>
 </div>
 </div>
 </div>
 <br>

 
 <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Django</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills php">60%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Bootstrap</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills python">60%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Python</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills flask">70%</div>
 </div>
</div>
</div>
<br>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><p>Flask</p></div>
        <div class="col-md-7">
 <div class="container">
   <div class="skills Bootstrap">80%</div>
 </div>
</div>
</div>
<br>
    

   <div class="projects">
        <br> <br>
        <br> <br>
        
       <h4 class="text-center"> <strong> <font size="9">Projects </font> </strong></h4>
       <br> <br>
       <br> <br>
       

       <div class="row">
            <div class="columns">
                    <img src="https://images.unsplash.com/photo-1494688290324-e296afa7dc45?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e480114ca9fb0f61476d79587ea773c&auto=format&fit=crop&w=750&q=80" alt="Instagram" style="width:100%">
                    <div class="container">
                        <h4><b>Instagram</b></h4> 
                        <p>Architect & Engineer</p> 
                      </div>
                  </div>



                  <div class="columns">
                    <img src="https://images.unsplash.com/photo-1515169974372-0a322886d279?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17ff92f2cf485284a7b604020c146b29&auto=format&fit=crop&w=1376&q=80" alt="Gallery" style="width:100%">
                    <div class="container">
                        <h4><b>Gallery</b></h4> 
                        <p>Architect & Engineer</p> 
                      </div>


                  </div>
                  <div class="columns">
                    <img src="https://images.unsplash.com/photo-1518186233392-c232efbf2373?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=23ff577c1374ba87e8361b6ceee0cac3&auto=format&fit=crop&w=667&q=80" alt="Kenya" style="width:100%">
                    <div class="container">
                        <h4><b>Fit4Life</b></h4> 
                        <p>Architect & Engineer</p> 
                      </div>


        </div>
       </div>
   </div>
   <br><br>

   <div class="contact">
       <h4 class="text-center"> Contact Me </h4>
       <br>
       <p> Have a question or want to work together?</p>
       
   </div>


    </div>
    
{% endblock %}